{% extends 'base/home.html' %}
{% block content %}
{% load my_tags %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Петрович</h1>
    <p class="lead">Петрович - магазин продуктов питания</p>
</div>

<div class="row text-center">
        {% for i in ind %}
        <div class="col-3">

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ i.name }}</h4>
                </div>

                <div class="card-body">
                    <img src="{{ i.image | media_filter }}" style="width: 200px">
                    <h1 class="card-title pricing-card-title">Цена: {{i.purchase_price }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ i.description|truncatechars:100 }}</li>
                    </ul>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:mak' i.id %}">Посмотреть</a>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
{% endblock %}